.app-section-popular {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-section-top {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.app-card-fullscreen-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-max-width {
  max-width: 100% !important;
}

.app-tab-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .app-section-popular {
    margin-top: 36px !important;
  }
}
