<div class="app-section-popular app-container-ext">
  <div class="container app-container">
    <div class="row">
      <div class="col-md-9 col-sm-12 col-xs-12 app-card-fullscreen-center">
        <h1 class="app-text-white-focus app-text-title app-mb-2">
          Now playing
        </h1>

        <swiper
          class="app-max-width"
          [slidesPerView]="1"
          [spaceBetween]="18"
          [autoplay]="swiperPlay"
        >
          <ng-template
            swiperSlide
            *ngFor="let movie of nowPlaying$ | async"
          >
            <app-card-full-screen [movie]="movie"></app-card-full-screen>
          </ng-template>
        </swiper>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12 app-mt-2">
        <h2 class="app-text-white-focus-secondary app-font-black">
          Top playing
        </h2>

        <div class="app-section-top">
          <app-card-movie
            *ngFor="let movie of topRated$ | async"
            [movie]="movie"
          ></app-card-movie>

          <button
            mat-flat-button
            class="app-accent-background app-btn-block"
          >
            Show more
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="app-container-ext app-mt-3">
  <div class="container app-container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="app-text-white-focus">
          Popular movies
        </h2>

        <swiper
          class="app-max-width"
          [spaceBetween]="18"
          [breakpoints]="breakpoints"
        >
          <ng-template
            swiperSlide
            *ngFor="let movie of popular$ | async"
          >
            <app-card-movie
              [movie]="movie"
            ></app-card-movie>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</div>

<div class="app-container-ext app-mt-3">
  <div class="container app-container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="app-text-white-focus">
          TV series
        </h2>

        <swiper
          class="app-max-width"
          [spaceBetween]="18"
          [breakpoints]="breakpoints"
        >
          <ng-template
            swiperSlide
            *ngFor="let tvMovie of tvPopular$ | async"
          >
            <app-card-movie
              [movie]="tvMovie"
            ></app-card-movie>
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</div>

<div class="app-container-ext app-mt-3">
  <div class="container app-container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="app-text-white-focus">
          Categories
        </h2>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <mat-tab-group>
          <mat-tab label="Action">
            <div class="app-tab-wrapper">
              <div class="row app-max-width">
                <div
                  class="col-md-3 col-sm-6 col-xs-12 app-mt-3"
                  *ngFor="let movie of popular$ | async"
                >
                  <app-card-movie [movie]="movie"></app-card-movie>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button
                    mat-button
                    class="app-accent-background app-btn-block app-text-white-focus app-mt-3"
                  >
                    Show all
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Action">
            <div class="app-tab-wrapper">
              <div class="row app-max-width">
                <div
                  class="col-md-3 col-sm-6 col-xs-12 app-mt-3"
                  *ngFor="let movie of tvPopular$ | async"
                >
                  <app-card-movie [movie]="movie"></app-card-movie>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                  <button
                    mat-button
                    class="app-accent-background app-btn-block app-text-white-focus app-mt-3"
                  >
                    Show all
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Action"></mat-tab>
          <mat-tab label="Action"></mat-tab>
          <mat-tab label="Action"></mat-tab>
          <mat-tab label="Action"></mat-tab>
          <mat-tab label="Action"></mat-tab>
          <mat-tab label="Action"></mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
