<div
  style="background: url('https://image.tmdb.org/t/p/original/keIxh0wPr2Ymj0Btjh4gW7JJ89e.jpg')"
  class="app-card-movie-wrapper"
>
  <div class="app-card-movie-container">
    <h3 class="app-text-white-focus app-mb-none app-text-size-1">
      Black widow
    </h3>

    <div class="app-rate-wrapper app-mb-small">
      <mat-icon class="app-accent-text">
        start
      </mat-icon>

      <span class="app-font-bold app-text-white-focus-secondary app-text-size-1">
        4.8
      </span>
    </div>

    <p class="app-text-white-focus-secondary app-mb-none app-text-size-small">
      Natasha Romanoff, also known as Black Widow, confronts the...
    </p>
  </div>
</div>
