<div
  class="app-card-wrapper app-card-height"
  [style.background]="getStyleBackground()"
>
  <div class="app-card-fullscreen-mask app-card-height">
    <h2 class="app-text-white-focus app-mb-small">
      {{ movie.title }}
    </h2>

    <div class="app-rate-wrapper app-mb-small">
      <mat-icon class="app-accent-text">
        start
      </mat-icon>

      <span class="app-font-bold app-text-white-focus-secondary">
        {{ movie.vote_average | average }}
      </span>
    </div>

    <p class="app-text-white-focus-secondary">
      {{ movie.overview | textSliceBig }}
    </p>
  </div>
</div>

