<div
  class="app-card-wrapper app-card-height"
  style="background: url('https://image.tmdb.org/t/p/original/8s4h9friP6Ci3adRGahHARVd76E.jpg');"
>
  <div class="app-card-fullscreen-mask app-card-height">
    <h2 class="app-text-white-focus app-mb-small">
      Space Jam: A New Legacy
    </h2>

    <div class="app-rate-wrapper app-mb-small">
      <mat-icon class="app-accent-text">
        start
      </mat-icon>

      <span class="app-font-bold app-text-white-focus-secondary">
        4.8
      </span>
    </div>

    <p class="app-text-white-focus-secondary">
      When LeBron and his young son Dom are trapped in a digital space by a rogue A.I.,
      LeBron must get them home safe by leading Bugs...
    </p>
  </div>
</div>

