<div
  class="app-background-image app-height"
  *ngIf="movie$ | async as movie"
  [style.background]="getStyleBackground(movie)"
>
  <div class="app-container-ext app-card-fullscreen-mask app-height app-movie-content">
    <div class="container app-container">
      <div class="row">
        <div class="col-md-4 col-sm-6 app-image-content">
          <img
            [src]="getImagePoster(movie)"
            class="app-movie-image"
            [alt]="movie.title"
          >
        </div>

        <div class="col-md-8 col-sm-6 col-xs-12 app-movie-content">
          <h1 class="app-text-white-focus app-movie-title app-mb-small">
            {{ movie.title }}
          </h1>

          <div class="app-rate-wrapper app-mb-small">
            <mat-icon class="app-accent-text app-text-size-3">
              start
            </mat-icon>

            <span class="app-font-bold app-text-white-focus-secondary app-text-size-2">
              {{ movie.vote_average | average }}
            </span>
          </div>

          <p class="app-text-white-focus-secondary">
            {{ movie.overview }}
          </p>

          <mat-chip-list class="app-mt-2">
            <mat-chip
              *ngFor="let genre of movie.genres"
              class="app-chip-themed"
            >
              {{ genre.name }}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="app-container-ext">
  <div class="container app-container app-mt-4">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="app-font-bold app-text-white-focus">
          Cast
        </h2>
        <swiper class="app-max-width" [spaceBetween]="18" [breakpoints]="breakpoints">
          <ng-template swiperSlide *ngFor="let cast of cast$ | async">
            <div class="app-cast-center-content">
              <img
                [src]="getImageCast(cast)"
                class="app-image-cast"
                [alt]="cast.name"
              >

              <h3 class="app-text-white-focus app-mt-1 app-font-bold app-mb-none app-text-size-1">
                {{ cast.name }}
              </h3>

              <h4 class="app-text-white-focus-secondary app-text-size-small">
                {{ cast.character }}
              </h4>
            </div>
          </ng-template>
        </swiper>

      </div>
    </div>
  </div>
</div>

<div *ngIf="movieUrl$ | async as url" class="app-container-ext app-mt-4">
  <div class="container app-container">
    <iframe
      class="app-video-wrapper"
      width="100%"
      [src]="url | safeUrl"
    ></iframe>
  </div>
</div>

<div class="app-mt-4 app-container-ext">
  <div class="container app-container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h2 class="app-text-white-focus app-mb-none">
          Recommendation
        </h2>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 app-mt-2" *ngFor="let movie of recommendations$ | async">
        <app-card-movie [movie]="movie"></app-card-movie>
      </div>
    </div>
  </div>
</div>
