/* You can add global styles to this file, and also import other style files */
@import '~swiper/swiper-bundle';

$white-color-focus: rgba(255, 255, 255, 0.8);
$white-color-focus-secondary: rgba(255, 255, 255, 0.6);

$dark-color-primary: #1A1A2E;
$dark-color-secondary: #16213E;

$accent-color: #FF9900;

html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $dark-color-secondary;
}

.app-text-white-focus {
  color: $white-color-focus;
}

.app-text-white-focus-secondary {
  color: $white-color-focus-secondary;
}

.app-accent-background {
  background-color: $accent-color;
}

.app-accent-text {
  color: $accent-color;
}

.app-text-title {
  font-size: 32px !important;
  font-weight: bolder !important;
}

.app-rate-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.app-mb-none {
  margin-bottom: 0 !important;
}

.app-mb-small {
  margin-bottom: 8px !important;
}

.app-mb-1 {
  margin-bottom: 18px !important;
}

.app-mb-2 {
  margin-bottom: 24px !important;
}

.app-font-bold {
  font-weight: bold !important;
}

.app-font-black {
  font-weight: bolder !important;
}

.app-text-size-small {
  font-size: 12px !important;
}

.app-text-size-1 {
  font-size: 14px !important;
}

.app-text-size-2 {
  font-size: 18px !important;
}

.app-text-size-3 {
  font-size: 24px !important;
}

.app-text-size-4 {
  font-size: 36px !important;
}

.app-text-size-5 {
  font-size: 48px !important;
}

.app-btn-block {
  width: 100%;
}

@media screen and (max-width: 768px){
  .app-container {
    max-width: 100%;
  }

  .app-container-ext {
    padding: 0 18px;
  }
}
